<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOVIE SITE</title>
  </head>
  <body>
    <div>
      <h1>WELCOME GANG</h1>
    </div>
    <div id="input name">
      <input type="text" id="movie-search-txt" />
      <button type="click" id="btn-submit-search">SUBMIT</button>
    </div>

    <div id="srch-results"></div>
  </body>

  <style>
    h6 {
      color: red;
    }
  </style>

  <script>
    var submitBtn = document.getElementById("btn-submit-search");
    var srchBox = document.getElementById("movie-search-txt");

    submitBtn.addEventListener("click", async () => {
      console.log("You CLicked the Butt");

      var srchWord = srchBox.value;

      console.log(srchWord);

      const options = {
        method: "GET",
        headers: {
          accept: "application/json",
        },
      };

      await fetch(
        "https://api.themoviedb.org/3/search/movie?query=" +
          srchWord +
          "&include_adult=false&language=en-US&page=1",
        options,
      )
        .then((res) => res.json())
        .then((res) => {
          console.log(res);

          const searchResults = document.getElementById("srch-results");

          searchResults.innerHTML = "";

          var movieResults = res.results;
          movieResults.forEach((movie) => {
            console.log(movie.title);

            var newHeads = document.createElement("h6");
            newHeads.textContent = movie.title;
            var movieImg = document.createElement("img");
            movieImg.src =
              "https://image.tmdb.org/t/p/w200" + movie.poster_path;

            searchResults.appendChild(newHeads);
            searchResults.appendChild(movieImg);
          });
        })
        .catch((err) => console.error(err));
    });
  </script>
</html>
